{% extends "layout.html" %} {% block title %} Merkin muokkaus {% endblock %} {%
block content %}
<main class="wrap">
  <section class="panel stack">
    <h2>{{ patch.title }}</h2>
    <h3>Merkin muokkaus</h3>
    <form action="/update_patch/{{ patch.id }}" method="post">
      <p>
        Otsikko: <br />
        <input
          type="text"
          name="title"
          value="{{ patch.title }}"
          maxlength="50"
          required
        />
      </p>
      <p>
        Kuvaus: <br />
        <textarea
          name="description"
          rows="8"
          cols="60"
          maxlength="500"
          required
        >
{{ patch.description }}</textarea
        >
      </p>
      <p>
        Tekniikka: <br />
        <input type="radio" name="technique" value="Brodeerattu" {% if
        patch.technique == "Brodeerattu" %}checked{% endif %} required />
        Brodeerattu<br />
        <input type="radio" name="technique" value="Painettu" {% if
        patch.technique == "Painettu" %}checked{% endif %} required />
        Painettu<br />
      </p>
      {% for class in all_classes %}
      <p>
        {{ class }}: <br />
        <select name="classes">
          <option value="">-- Valitse --</option>
          {% for option in all_classes[class] %} {% if classes[class] == option
          %}
          <option value="{{ class }}:{{ option }}" selected>
            {{ option }}
          </option>
          {% else %}
          <option value="{{ class }}:{{ option }}">{{ option }}</option>
          {% endif %} {% endfor %}
        </select>
      </p>
      {% endfor %}
      <input type="hidden" name="id" value="{{ patch.id }}" />
      <input type="submit" value="Tallenna muutokset" />
      <input type="submit" value="Peruuta" onclick="window.history.back()" />
    </form>
  </section>
</main>
{% endblock %}
