{% extends "layout.html" %} {% block title %} Etsi merkkejä {% endblock %} {%
block content %}
<main class="wrap">
  <section class="panel stack">
    <h2>Hae merkkejä</h2>
    <form class="form" action="/find_patch" method="get">
      <div class="field">
      <p>
        <label for="query">Hakusana:</label>
        <input id="query" type="text" name="query" placeholder="esim. kissa, pepe" value="{{ query }}" />
      </p>
      </div>
      <div>
      <input type="submit" value="Etsi merkkejä" />
      </div>
    </form>
  </section>
  {% if query %}
  <h3>Hakutulokset haulle "{{ query }}"</h3>

  <ul class="patch-list wide">
    {% for patch in patches %}
    <li class="patch-item">
      <a class="patch-link" href="/patch/{{ patch.id }}">{{ patch.title }}</a>
    </li>
    {% else %}
    <p>Ei merkkejä, jotka täsmäisivät hakusanaan "{{ query }}"</p>
    {% endfor %}
  </ul>
  {% endif %}
</main>
{% endblock %}
