{% extends "layout.html" %} {% block title %} {{ patch.title }} kuvat {%
endblock %} {% block content %}
<main class="wrap">
  <section class="panel stack">
    <h2>{{ patch.title }} kuvat</h2>
    <form action="/remove_images" method="post">
      <label for="remove_images"><h3>Poista kuvat</h3></label>
      {% for image in images %}
      <div>
        <input type="checkbox" name="image_id" id="remove_images" value="{{ image.id }}" />
        <img src="/image/{{ image.id }}" alt="Patch Image" />
      </div>
      {% endfor %}
      <input type="hidden" name="patch_id" value="{{ patch.id }}" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Poista valitut kuvat" />
    </form>

    <label for="image"><h3>Lisää kuva</h3></label>
    <form action="/add_image" method="post" enctype="multipart/form-data">
      <p>
        <input type="file" name="image" id="image" accept=".png" />
      </p>
      <input type="hidden" name="patch_id" value="{{ patch.id }}" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Lähetä" />
    </form>
    <input type="submit" value="Takaisin" onclick="window.history.back()" />
  </section>
</main>
{% endblock %}
