<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} Merkistö {% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    <div class="header">
      <section class="hero" style="background-image:url(/static/images/merkisto-hero-1.png);">
      </section>
    </div>
    <main class="container">
      <div class="nav">
        <nav class="main-nav">
          {% if session.username %}
          <p>Olet kirjautunut nimellä {{ session.username }}.</p>
          {% endif %} <br />

          <p>
            <a href="/">Etusivu</a>
            <a href="/find_patch">Etsi merkkejä</a>
            {% if session.user_id %}
            <a href="/new_patch">Lisää uusi merkki</a>
            <a href="/logout">Kirjaudu ulos</a>

            {% else %}
            <a href="/login">Kirjaudu sisään</a>
            <a href="/register">Luo tunnus</a>
          </p>

          {% endif %}
        </nav>
      </div>
      {% for flash_message in get_flashed_messages() %}
      <div class="flash">{{ flash_message }}</div>
      {% endfor %}
      <div class="content">{% block content %}{% endblock %}</div>
    </main>
  </body>
</html>
