<!DOCTYPE html>
<html>
  <head>
    <title>Uusi merkki</title>
  </head>

  <body>
    <h1>Lisää uusi merkki</h1>
    <form action="/create_patch" method="post">
      <p>
        Otsikko: <br />
        <input type="text" name="title" />
      </p>
      <p>
        Kuvaus: <br />
        <textarea name="description" rows="8" cols="60"></textarea>
      </p>
      <p>
        Tekniikka: <br />
        <input type="radio" name="technique" value="Brodeerattu" />
        Brodeerattu<br />
        <input type="radio" name="technique" value="Painettu" />
        Painettu<br />
      </p>
      <input type="submit" value="Lisää merkki" />
    </form>
  </body>
</html>
