{% extends "layout.html" %} {% block title %} Merkin lisääminen {% endblock %}
{% block content %}
<main class="wrap">
  <section class="panel stack">
    <h2>Lisää uusi merkki</h2>
    <form action="/create_patch" method="post">
      <p>
        <label for="title">Otsikko:</label> <br />
        <input type="text" name="title" id="title" maxlength="50" required />
      </p>
      <p>
        <label for="description">Kuvaus:</label> <br />
        <textarea
          name="description"
          id="description"
          rows="8"
          cols="60"
          maxlength="500"
          required
        ></textarea>
      </p>
      <p>
        <label for="technique">Tekniikka:</label> <br />
        <input type="radio" name="technique" value="Brodeerattu" required />
        Brodeerattu<br />
        <input type="radio" name="technique" value="Painettu" required />
        Painettu<br />
      </p>
      {% for class in classes %}
      <p>
        <label for="class{{ class }}">{{ class }}:</label> <br />
        <select name="classes" id="class{{ class }}">
          <option value="">-- Valitse --</option>
          {% for option in classes[class] %}
          <option value="{{ class }}:{{ option }}">{{ option }}</option>
          {% endfor %}
        </select>
      </p>
      {% endfor %}
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Lisää merkki" />
    </form>
  </section>
</main>
{% endblock %}
