{% extends "layout.html" %} {% block title %} {{ patch.title }} {% endblock %} {% block
content %}
<h2>{{ patch.title }}</h2>
{% if session.user_id == patch.user_id %}
<p>
  <a href="/edit_patch/{{ patch.id }}">Muokkaa</a>
  <a href="/remove_patch/{{ patch.id }}">Poista</a>
  <a href="/images/{{ patch.id }}">Kuvat</a>
</p>
{% endif %} {% if images %}
<h3>Kuvat</h3>
{% for image in images %}
<img src="/image/{{ image.id }}" alt="Patch Image" />
{% endfor %} {% endif %}
<p><strong>Kuvaus:</strong> {{ patch.description }}</p>
<p><strong>Tekniikka:</strong> {{ patch.technique }}</p>
<ul>
  {% if classes %} {% for class in classes %}
  <li>{{ class.title}}: {{ class.value }}</li>
  {% endfor %}
</ul>
{% endif %}
<p>Lisääjä: <a href="/user/{{ patch.user_id }}">{{ patch.username }}</a></p>
<h3>Kommentit</h3>
{% if session.user_id %}
<form action="/create_comment/{{ patch.id }}" method="post">
  <textarea
    name="comment"
    rows="4"
    cols="50"
    maxlength="300"
    required
  ></textarea>
  <p>
    <input type="hidden" name="patch_id" value="{{ patch.id }}" />
    <input type="submit" value="Lisää kommentti" />
  </p>
</form>
{% else %}
<p><a href="/login">Kirjaudu sisään</a> lisätäksesi kommentin.</p>
{% endif %}
<ul>
  {% for comment in comments %}
  <li>
    {{ comment.content }} -
    <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a>
  </li>
  {% endfor %}
</ul>
<input type="button" value="Takaisin" onclick="window.history.back()" />
{% endblock %}
