<!DOCTYPE html>
<html>
  <head>
    <title>{{ patch.title }}</title>
  </head>

  <body>
    <h1>{{ patch.title }}</h1>
    {% if session.user_id == patch.user_id %}
    <p>
        <a href="/edit_patch/{{ patch.id }}">Muokkaa</a>
        <a href="/remove_patch/{{ patch.id }}">Poista</a>
    </p>
    {% endif %}
    <p><strong>Kuvaus:</strong> {{ patch.description }}</p>
    <p><strong>Tekniikka:</strong> {{ patch.technique }}</p>
    {% if classes %}
    <p>
      Luokat:
      <ul>
        {% for class in classes %}
        <li><strong>{{ class.title }}</strong> {{ class.value }}</li>
        {% endfor %}
      </ul>
    </p>
    {% endif %}
    <p>Lisääjä: <a href="/user/{{ patch.user_id }}">{{ patch.username }}</a></p>
    <p><a href="/">Takaisin etusivulle</a></p>
  </body>
</html>
